<% include partials/header%>
<h1>Welcome to Nebula</h1>
<form method="POST" action="/property/new/">
<label> Name <label>
<input type="text" name="name">
<label> Dates <label>
<input type="text" name="dates">
<label> Price <label>
<input type="text" name="price">
<label> Description <label>
<textarea type="text" name = "desc"></textarea>
<label> Photo <label>
<input type="text" name="photo">
<input type = "submit" value="Submit">
</form>
<% include partials/footer%>
