.center {
  text-align: center;
}

body{
    background-image:url("https://image.ibb.co/jQqPAS/mars_the_red_planet_wallpaper_2560x1600.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "courier";
}

label {
	/* cursor: pointer; */
	color: white;
	display: block;
	padding: 4px;
	margin: 3px;
}
